asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==3.2
cssselect==1.0.3
cycler==0.10.0
Django==2.1.4
dukpy==0.2.2
echarts-china-cities-pypkg==0.0.9
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
et-xmlfile==1.0.1
Flask==1.0.2
future==0.17.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
javascripthon==0.10
jdcal==1.4.1
jieba==0.39
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lml==0.0.2
lxml==4.3.3
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
openpyxl==3.0.2
pandas==0.24.2
parsel==1.5.1
Pillow==6.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
PyHamcrest==1.9.0
pymongo==3.7.2
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.3.1
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
queuelib==1.5.0
readability==0.3.1
requests==2.22.0
Scrapy==1.6.0
selenium==3.141.0
service-identity==18.1.0
sh==1.12.14
simplejson==3.16.0
six==1.12.0
soupsieve==1.9
sqlparse==0.3.0
tushare==1.2.35
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.20.0
Werkzeug==0.15.2
zope.interface==4.6.0
