altgraph==0.16.1
arrow==0.12.1
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
backports.functools-lru-cache==1.5
binaryornot==0.4.4
boto3==1.9.35
botocore==1.12.35
certifi==2018.8.24
cffi==1.12.2
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.4
click==6.7
constantly==15.1.0
cookiecutter==1.6.0
cookiejar==0.0.2
cryptography==2.6.1
cssselect==1.0.3
Cython==0.29.2
docutils==0.14
enum34==1.1.6
ffmpy==0.2.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
graphviz==0.9
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
itchat==1.2.32
jieba==0.39
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
Kivy==1.10.1
Kivy-Garden==0.1.4
lxml==4.2.5
macholib==1.11
MarkupSafe==1.0
mathparse==0.1.2
modulegraph==0.17
msgpack==0.5.6
nltk==3.4
numpy==1.15.4
oauthlib==2.1.0
objgraph==3.4.0
pager==3.3
pandas==0.23.4
parsel==1.5.1
pbs==0.110
poyo==0.4.1
py2app==0.18
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pymongo==3.7.2
pymssql==2.1.4
pyOpenSSL==19.0.0
pypiwin32==223
pypng==0.0.18
PyQRCode==1.2.1
python-dateutil==2.6.1
python-twitter==3.5
pytz==2018.7
pywin32==224
PyYAML==3.13
pyzmq==17.1.2
queuelib==1.5.0
requests==2.19.1
requests-oauthlib==1.1.0
s3transfer==0.1.13
Scrapy==1.6.0
selenium==3.14.1
service-identity==18.1.0
sh==1.12.14
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.15
tushare==1.2.16
Twisted==18.9.0
urllib3==1.23
w3lib==1.20.0
whichcraft==0.4.1
wxpy==0.3.9.8
zope.interface==4.6.0
